
#ofWrapper{
    display: flex;
    flex-direction: column;
    padding:50px;
}

#ofWrapper h1{
    color:rgb(239,152,24);
    font-size: 2rem;
    width:fit-content;
    border:1px solid rgb(239,152,24);
    padding:20px;
    border-radius:10px;
}

#ofWrapper .buttongroupwrapper{
    display:flex;
    width:fit-content;

}

#ofWrapper .buttongroup{
    padding-right:60px;

}

#ofWrapper #featbutton{
    border:none;
    font-size: 1rem;
    width:200px;
    height:50px;
    cursor: pointer;
    font-weight: 700;
    color: rgb(75, 75, 75);
    border-radius: 10px;
    border:1px solid rgb(239,152,24);
    margin-top:50px;
}

#ofWrapper input{

}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}